<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Document</title>
</head>
    <body>
        <div class="container">
            <aside class="sidebar">
                <div class="card-profile">
                    <img src="/images/Frame 13.png" alt="">
                    <p class="name">Prayuda Riansyah</p>
                    <p>Kelas 1 Sekolah Dasar</p>
                </div>
                <a href="#" class="active">Kelas Saya</a>
                <a href="profile.html">Profile Saya</a>
                <a href="#">Log Out</a>
            </aside>
            <div class="content">
                <div class="title">
                    <h4>My Class</h4>
                    <p>Tidak perlu terburu-buru dalam belajar. Konsisten adalah kunci utama</p>
                </div>
                <div class="class-row">
                    <div class="card">
                        <img src="/images/English teacher-pana 1.png" alt="">
                        <p><a href="#" class="matpen">Bahasa Inggris</a></p>
                        <p class="semester">Semester 1</p>
                    </div>
                    <div class="card">
                        <img src="/images/English teacher-pana 2.png" alt="">
                        <p><a href="#" class="matpen">Bahasa Indonesia</a></p>
                        <p class="semester">Semester 1</p>
                    </div>
                </div>

            </div>
        </div>      
    </body>
</html>