<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/profile.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="card-profile">
                <img src="/images/Frame 13.png" alt="">
                <p class="name">Prayuda Riansyah</p>
                <p>Kelas 1 Sekolah Dasar</p>
            </div>
            <a href="dashboard.html">Kelas Saya</a>
            <a href="#" class="active">Profile Saya</a>
            <a href="#">Log Out</a>
        </aside>
        <div class="content">
            <div class="title">
                <h4>Profile Saya</h4>
                <p>Pastikan Data Pribadi anda benar dan tidak tersebar</p>
            </div>
            <div class="change-picture">
                <img src="/images/Frame 13.png" alt="">
                <div class="new-picture">
                    <p>Add your picture...</p>
                    <button>Browse</button>
                </div>
            </div>
            <div class="new-data">
                <form action="#">
                    <div class="field">
                        <label for="fullName">Full Name</label>
                        <input type="text" id="fullName" name="fullName" value="Prayuda Riansyah">
                    </div>
                    <div class="field">
                        <label for="umur">Umur</label>
                        <input type="text" id="umur" name="umur" value="7 Tahun">
                    </div>
                    <div class="field">
                        <label for="askot">Asal Kota</label>
                        <input type="text" id="askot" name="askot" value="Malang">
                    </div>
                    <div class="field">
                        <label for="emailaddress">Email Adddress</label>
                        <input type="email" id="emailaddress" name="emailaddress" value="prayudariansyah1412@gmail.com">
                    </div>                  
                    <button class="submit" type="submit">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>