<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/subClass1.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar" id="mySide">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="kembali">
                <img src="/images/akar-icons_arrow-left.png" alt="">
                <a href="dashboard.html">Kembali</a>
            </div>
            <div class="bab">
                <ul>
                    <li><a class="active" href="#">Intoduction</a></li>
                    <li><a href="#">Introduction Teacher</a></li>
                    <li><a href="#">Introduction Class</a></li>                    
                </ul>
                <ul>
                    <li><a class="active" href="#">Chapter 1</a></li>
                    <li><a href="#">Reading</a></li>
                    <li><a href="#">writing</a></li>
                    <li><a href="#">Speaking</a></li>
                </ul>
                <ul>
                    <li><a class="active" href="#">Chapter 2</a></li>
                    <li><a href="#">Make A Video</a></li>
                    <li><a href="#">Exercise</a></li>                    
                </ul>
            </div>
        </aside>
        <span class="open" id="open" onclick="openNav()">&#9776;</span>
        <div class="content" id="main">
            <div class="title">
                <h4>Introduction Class</h4>                
            </div>
            <div class="video">
                <iframe width="1000" height="500" src="https://www.youtube.com/embed/FrwfbVEwqZg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="text-deskripsi">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                </p>
            </div>
            <button class="btn">Next</button>
        </div>
    </div>
    <script>
        function openNav() {
          document.getElementById("mySide").style.width = "281px";
        }
        
        function closeNav() {
          document.getElementById("mySide").style.width = "0";
        }
        </script>
</body>
</html>