h4{
    font-size: 36px;
    font-weight: 500;
    color:#404040;
}

body{
    margin: 0;
    font-family: 'Poppins';
    overflow:visible;
}

.container{
    display: flex;
}
.sidebar{
    padding-top: 50px;
    background-color: #FA8432;
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: all .1s;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}
#main {
    transition: margin-left .5s;
    padding-left: 80px;
  }
.open{
    position: fixed;
    top: 120px;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 500;
    color:white;
    border-radius: 0 100px 100px 0;
    background: #E45F03;
    padding: 8px 13px 10px 13px;
}
.card-profile{
    width: 280px;
}
.card-profile img{
    margin-left: 80px;
    margin-bottom: 16px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 2px;
    background-color: white;
}
.card-profile p{
    margin-left: 65px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 60px;
    
}
.card-profile p.name{
    margin-left: 48px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
    
}
.sidebar a{
    padding-left: 24px;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-right: 156px;
    color: white;
    text-decoration: none;
    width: 100px;
}
.sidebar a.active {
    background-color: #E45F03;
    color: white;
}
.sidebar a:hover:not(.active) {
    background-color: #FFB17B;
    color: white;
}


.content{    
    margin-top: 50px;
}
.title p{
    margin-top: 6px;
    font-size: 18px;
    font-weight: 400;
    color: #BFBFBF;
}
.class-row{
    display: flex;
    flex-direction: row;    
    margin-top: 30px;
}
.card{
    margin-right: 47px;
}
.card img{
    width: 385px;
    height: 270px;
}
.card a.matpen{
    font-size: 18px;
    font-weight: 400;
    color: #404040;
    text-decoration: none;
}
.card p.semester{
    font-size: 14px;
    font-weight: 400;
    color: #BFBFBF;
}

@media screen and (max-width: 800px) {
    .content {
      flex-direction: column-reverse;
    }
    .class-row {
        flex-direction: column-reverse;
    }
    div.content {margin-left: 0;}
  
    .card  img {
      width: 255px;
      height: 170px;
    }
  }


  