*{
    margin: 0;
    padding: 0;    
}
h4{
    font-size: 36px;
    font-weight: 500;
    color:#404040;
}

body{
    font-family: 'Poppins';
    width: 1440px;
    height: 900px;
    overflow:hidden;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
}
.sidebar{
    padding-top: 80px;
    background-color: #FA8432;
    width: 280px;
    display: flex;
    flex-direction: column;    
}
.card-profile{
    width: 280px;
}
.card-profile img{
    margin-left: 80px;
    margin-bottom: 16px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 2px;
    background-color: white;
}
.card-profile p{
    margin-left: 65px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 60px;
    
}
.card-profile p.name{
    margin-left: 48px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
    
}
.sidebar a{
    padding-left: 24px;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-right: 156px;
    color: white;
    text-decoration: none;
}
.sidebar a.active {
    background-color: #E45F03;
    color: white;
}
.sidebar a:hover:not(.active) {
    background-color: #FFB17B;
    color: white;
}


.content{    
    margin-left: 70px;
    margin-top: 50px;
}
.title p{
    margin-top: 6px;
    font-size: 18px;
    font-weight: 400;
    color: #BFBFBF;
}
.class-row{
    display: flex;
    flex-direction: row;    
    margin-top: 30px;
}
.card{
    margin-right: 47px;
}
.card img{
    width: 255px;
    height: 170px;
}
.card a.matpen{
    font-size: 18px;
    font-weight: 400;
    color: #404040;
    text-decoration: none;
}
.card p.semester{
    font-size: 14px;
    font-weight: 400;
    color: #BFBFBF;
}