h4{
    font-size: 36px;
    font-weight: 500;
    color:#404040;
}

body{
    margin: 0;
    font-family: 'Poppins';
    overflow: auto;
}
.container{
    display: flex;
}
.sidebar{
    padding-top: 50px;
    background-color: #FA8432;
    position: fixed;
    width: 0;
    height: 100%;
    z-index: 1;
    overflow-y: hidden;
    transition: all .1s;
    display: flex;
    flex-direction: column;
}

.sidebar .closebtn {
    padding-left: 24px;
    padding-top: 17px;
    padding-right: 156px;
    color: white;
    text-decoration: none;
    color: white;
    position: fixed;
    top: 0;
    font-size: 36px;
}
#main {
    transition: margin-left .5s;
    padding-left: 80px;
  }
.open{
    position: fixed;
    top: 120px;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 500;
    color:white;
    border-radius: 0 100px 100px 0;
    background: #E45F03;
    padding: 8px 13px 10px 13px;
}
ul {    
    margin-bottom: 26px;
    list-style-type: none;          
    overflow: auto;
  }
  
  li{
    margin-bottom: 20px;
  }
  li a {
    display: block;
    padding-left: 24px;    
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }
  
  li a.active {
    padding-top: 17px;
    padding-bottom: 16px;
    background-color: #E45F03;
    color: white;
  }
  
  li a:hover:not(.active) {
    color: #E45F03;
  }
.kembali{
    margin-top: 20px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.kembali img{
 width: 24px;   
 height: 24px;
}
.kembali a{
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.content{ 
    margin-top: 50px;
}

.video{
    margin-top: 6px;
    margin-bottom: 40px;
}

.text-deskripsi{
    padding-right: 20px;
    font-size: 18px;    
    font-weight: 400;
    color: black;
    margin-bottom: 15px;
}

.btn{
    width: 90px;
    height: 60px;
    background-color: #E45F03;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    
}


@media screen and (max-width : 800px) {
    .content{
        width: 100%;
        padding-right: 20px;
    }
    .video iframe{
        width: 100%;
    }
    .text-deskripsi p{
        width: 100%;
    }
}